@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  max-width: 450px;
  width: 100%;
}

.content {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  padding: 30px;

  > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: #444;
      font-weight: bold;
      margin-bottom: 8px;

      small {
        color: #999;
      }
    }

    input {
      border-radius: 2px;
      border: solid 1px #ddd;
      font-size: 16px;
      height: 45px;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    a > .btn{
      border: 1px solid #000;
    }
  }

  button.btn {
    background-color: #f05a5b;
    border-radius: 2px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 42px;
    padding: 0 20px;
    width: 100%;
    transition: all 300ms ease;

    &:hover {
      background-color: #e14f50;
    }
  }
}
